
@section head{
    <style type="text/css">
    body
    {

        background-color:#F5F5F5;
        background-image:url('/images/pass2.png');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        margin:auto;
        
        
        
    }
    
    </style>
}
Are You Vendor?

<div>
    Click here to create new password  <a href="~/Vendor/passVSignup" class="btn btn-primary">Reset Password</a>
</div>

Are You Foodie?

<div>
    Click here to create new password   <a href="~/Foodie/passFSignup" class="btn btn-primary">Reset Password</a>
</div>